#intro{
  .intro-bg {
    width: 100vw;
    height: 100vh;
    // background: $bg-gradient;
    position: visible;
    overflow: hidden;
    @include flexMC();
    .portfolio-round-wrap {
      width: 100%;
      max-width: 420px;
      margin: 120px auto 0 auto;
      position: relative;
      @include flexDC();
      .round-container {
        position: relative;
        width: 100%;
        height: 180px; // arc 높이(조절 가능)
        // margin-bottom: 0;
        .round {
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          left: -40px; top: 0;
          pointer-events: none;
          z-index: 0;
        }

        .plane {      
          position: absolute;
          left: 0px;      // ← arc 시작점에 맞춤 (수정)
          top: 90px;     // ← arc의 하단에 맞춤 (수정)
          transform: rotate(-18deg); // 약간 위로 올려서 arc에 붙임 (수정)
          width: 64px;  // 크기는 필요에 따라 조절
          height: 64px;
          z-index: 2;
        }


      }
      .portfolio-btn {
        width: 100%;
        height: 90px;
        background: $button;
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.6rem;
        font-weight: 700;
        color: #fff;
        margin: -32px 0 0 0;
        box-shadow: $portfolio-btn-shadow;
        z-index: 10;
      }

      .click-btn {
        display: block;
        margin: 32px auto 0 auto;
        width: 260px;
        height: 64px;
        background: $button;
        border-radius: 24px;
        font-size: 2.6rem;
        font-weight: 700;
        color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        z-index: 3;
        position: relative;
        box-shadow: $portfolio-btn-shadow;
      }
    }
    .clouds {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      pointer-events: none; // 클릭 방지
      z-index: 1;
      .cloud-img {
        position: absolute;
        opacity: 1;
        user-select: none;
        pointer-events: none;

        &.cloud-img1 {
          left: 0;
          bottom: 0;
          width: 40%;
          height: auto;
          z-index: 5;
        }
        &.cloud-img2 {
          left: 0;
          bottom: 70px;
          width: 40%;
          height: auto;
          z-index: 1;
        }
        &.cloud-img3 {
          left: 50%;
          transform: translateX(-40%);
          bottom: 0;
          width: 50%;
          height: auto;
          z-index: 4;
        }
        &.cloud-img4 {
          right: 0;
          bottom: 0;
          width: 32%;
          height: auto;
          z-index: 3;
        }
        &.cloud-img5 {
          right: 0;
          bottom: 70px;
          width: 40%;
          height: auto;
          z-index: 2;
        }
      }
    }
  }
}