@import "variables";

@mixin font($color, $size, $weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
}

@mixin flexMC() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexDC() {
	display: flex;
	flex-direction: column;
    align-items: center;
}

@mixin flexAC() {
	display: flex;
	align-items: center;
}

@mixin flexAC_b() {
	display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

@mixin flexCC_s() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@mixin center-align() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//360px
@mixin mobile_B {
	@media (min-width: #{$mobile}) {
		@content;
	}
}

// 768px
@mixin tablet_S {
	@media (min-width: #{$s-tablet}) {
		@content;
	}
}

// 1024px
@mixin tablet_B {
	@media (min-width: #{$m-tablet}) {
		@content;
	}
}

// min: 1280px max: 
@mixin desktop_S {
	@media (min-width: #{$s-pc}) {
		@content;
	}
}

// 1440px
@mixin desktop_B {
	@media (min-width: #{$m-pc}) {
		@content;
	}
}

